<mat-grid-list cols="2" rowHeight="650px">
    <mat-grid-tile>
        <mat-card class="details">
          <mat-card-title>Your Vehicle Details</mat-card-title>
          <mat-card-content>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
                  <ng-container matColumnDef="vehicle_reg_number">
                    <th mat-header-cell *matHeaderCellDef> Registration Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.vehicle_reg_number}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="vehicle_type">
                    <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.vehicle_type}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="vehicle_brand">
                    <th mat-header-cell *matHeaderCellDef> Vehile Brand </th>
                    <td mat-cell *matCellDef="let element"> {{element.vehicle_brand}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="no_of_passengers">
                    <th mat-header-cell *matHeaderCellDef> No of Passengers </th>
                    <td mat-cell *matCellDef="let element"> {{element.no_of_passengers}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="ac_condition">
                      <th mat-header-cell *matHeaderCellDef> AC Condition </th>
                      <td mat-cell *matCellDef="let element">
                        <p *ngIf="element.ac_condition">AC</p>
                        <p *ngIf="!element.ac_condition">Non AC</p> 
                      </td>
                    </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                
                
  
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="newvehicle">
            <mat-card-title>Add New Vehicle</mat-card-title>
              <mat-card-content>
                <form [formGroup]="newVehicleForm" (ngSubmit)="submit()">
                  <p>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Vehicle Registration" formControlName="vehicle_reg">
                    </mat-form-field>
                  </p>
                 
                  <p>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Vehicle Brand" formControlName="v_brand">
                    </mat-form-field>
                  </p>
        
                  <p>
                    <mat-form-field>
                    <mat-label>Cars</mat-label>
                    <mat-select  formControlName="v_type">
                        <mat-option value="car">Car</mat-option>
                        <mat-option value="van">Van</mat-option>
                        <mat-option value="suv">SUV</mat-option>
                        <mat-option value="bus">Bus</mat-option>
                    </mat-select>
                    </mat-form-field>
                  </p>

                  <p>
                      <mat-form-field>
                      <mat-label>Assign Driver</mat-label>
                      <mat-select  formControlName="driver_id">
                          <mat-option  *ngFor="let driver of drivers" value={{driver.dr_id}}> {{driver.driver_name}} </mat-option>
                      </mat-select>
                      </mat-form-field>
                    </p>

                  <p>
                      <mat-slide-toggle checked="checked" formControlName="ac_condition">AC Condition</mat-slide-toggle>    
                      </p>
                  <p>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Vehicle Capacity" formControlName="capacity">
                    </mat-form-field>
                  </p>
        
                  <p>
                    <mat-form-field>
                      <input type="text" matInput placeholder="Vehicle Insuarance Data" formControlName="insurance">
                    </mat-form-field>
                  </p>
                  
                  <div class="button">
                    <button type="submit" color="primary" mat-raised-button>Register</button>
                  </div>
            
            </form>        
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Vehicle Images</mat-card-title>
            <mat-card-content>
                <mat-list role="list" class="images">
                  <mat-list-item role="listitem">
                      <h5>Vehicle Insurance Image</h5>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    
                        <form [formGroup]="formVIns" (ngSubmit)="onSubmitVIns()">
                          <input type="file" (change)="onFileChangeVIns($event)" />
                          <button type="submit">Upload</button>
                        </form>
                  
                    
    
                  </mat-list-item>
                  <mat-list-item role="listitem">
                      <h5>Vehicle Revenue License Image</h5>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    
                    <form [formGroup]="formVrl" (ngSubmit)="onSubmitVrl()">
      
                        <input type="file" (change)="onFileChangeVrl($event)" />
                        <button type="submit">Upload</button>
                  
                      </form>
    
                  </mat-list-item>
    
                  <mat-list-item role="listitem">
                      <h5>Driver Front Image</h5>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    
                    <form [formGroup]="formVfront" (ngSubmit)="onSubmitVfront()">
      
                        <input type="file" (change)="onFileChangeVfront($event)" />
                        <button type="submit">Upload</button>
                  
                      </form>
    
                  </mat-list-item>

                  <mat-list-item role="listitem">
                      <h5>Driver Rear Image</h5>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    
                    <form [formGroup]="formVrear" (ngSubmit)="onSubmitVrear()">
      
                        <input type="file" (change)="onFileChangeVrear($event)" />
                        <button type="submit">Upload</button>
                  
                      </form>
    
                  </mat-list-item>

                  <mat-list-item role="listitem">
                      <h5>Driver Inside Image</h5>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    
                    <form [formGroup]="formVin" (ngSubmit)="onSubmitVin()">
      
                        <input type="file" (change)="onFileChangeVin($event)" />
                        <button type="submit">Upload</button>
                  
                      </form>
    
                  </mat-list-item>
                </mat-list>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>

</mat-grid-list>