<mat-grid-list cols="2" rowHeight="650px">
  <mat-grid-tile>
      <mat-card width="800px" class="details">
        <mat-card-title>Your Current Drivers Details</mat-card-title>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="driver_name">
                  <th mat-header-cell *matHeaderCellDef> Driver Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.driver_name}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="driver_email">
                  <th mat-header-cell *matHeaderCellDef> Driver Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.driver_email}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="driver_nic">
                  <th mat-header-cell *matHeaderCellDef> Driver NIC </th>
                  <td mat-cell *matCellDef="let element"> {{element.driver_nic}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="license">
                  <th mat-header-cell *matHeaderCellDef> Driver License Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.license}} </td>
                </ng-container>

                <ng-container matColumnDef="contact_num">
                    <th mat-header-cell *matHeaderCellDef> Driver Contact Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.contact_num}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              

        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-card class="newdriver">
          <mat-card-title>Add New Driver</mat-card-title>
            <mat-card-content>
              <form [formGroup]="newDriverForm" (ngSubmit)="submit()">
                <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="Driver Name" formControlName="driver_name">
                  </mat-form-field>
                </p>
        
                <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="Driver Email" formControlName="driver_email">
                  </mat-form-field>
                </p>
        
                <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="Driver NIC" [pattern]="'[0-9]{9}[|v|V]$'" formControlName="driver_nic">
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="License" formControlName="license">
                  </mat-form-field>
                </p>
        
                <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="Contact Number" formControlName="contact_num">
                  </mat-form-field>
                </p>
        
                <div class="button">
                  <button type="submit" color="primary" mat-raised-button>Register</button>
                </div>
              </form>
          </mat-card-content>
          <mat-card-footer>
            <div>
                <h6>Before Register please upload the NIC and Driving License Images</h6>
                <h6>Scroll Down to Upload Images</h6>
            </div>
          </mat-card-footer>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
        <mat-card-title>Drivers Details Images</mat-card-title>
        <mat-card-content>
            <mat-list role="list" class="images">
              <mat-list-item role="listitem">
                  <h5>Driver NIC Image</h5>
              </mat-list-item>
              <mat-list-item role="listitem">
                
                    <form [formGroup]="formNIC" (ngSubmit)="onSubmit()">
                      <input type="file" name="avatar[]" (change)="onFileChange($event)" />
                      <button type="submit">Upload</button>
                    </form>
              
                

              </mat-list-item>
              <mat-list-item role="listitem">
                  <h5>Driving License Image</h5>
              </mat-list-item>
              <mat-list-item role="listitem">
                
                <form [formGroup]="formDL" (ngSubmit)="onSubmitDL()">
  
                    <input type="file" name="avatar[]" (change)="onFileChangeDL($event)" />
                    <button type="submit">Upload</button>
              
                  </form>

              </mat-list-item>

              <mat-list-item role="listitem">
                  <h5>Driver Profile Image</h5>
              </mat-list-item>
              <mat-list-item role="listitem">
                
                <form [formGroup]="formProf" (ngSubmit)="onSubmitProf()">
  
                    <input type="file" name="avatar[]" (change)="onFileChangeProf($event)" />
                    <button type="submit">Upload</button>
              
                  </form>

              </mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list>




