.mat-form-field {
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: block;
}


.newdriver {
  width: 400px;
}

.details {
  width: 400px;
}

table {
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
  justify-content: center !important;
}

mat-grid-tile {
  background: lightblue;
}

.title {
  justify-content: center !important;
}

mat-form-field {
  width: 400px;
}

mat-card {
  max-width: 600px;
  width: 400px;
}

th {
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}