
  .mat-form-field {
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: block;
  }

  mat-card {
    max-width: 600px;
    width: 400px;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
    justify-content: center !important;
  }

  mat-grid-tile {
    background: lightblue;
  }

  .title {
    justify-content: center !important;
  }

  mat-form-field {
    width: 400px;
  }

  .images {
    width:500px;
    height: 500px;
  }