<mat-grid-list cols="2" rowHeight="650px">
  <mat-grid-tile>
      <mat-card>
        <mat-card-title>Your Current Details</mat-card-title>
        <mat-card-content>
          
            <mat-list role="list">
              <mat-list-item role="listitem">Owner Name: <strong> {{current_details.owner_name}} </strong></mat-list-item>
              <mat-list-item role="listitem">Owner Email:<strong> {{current_details.owner_email}} </strong></mat-list-item>
              <mat-list-item role="listitem">NIC: <strong>{{current_details.owner_nic}} </strong></mat-list-item>
              <mat-list-item role="listitem">Address: <strong>{{current_details.address}} </strong></mat-list-item>
              <mat-list-item role="listitem">Area:<strong> {{current_details.area}} </strong></mat-list-item>
              <mat-list-item role="listitem">Contact Details:<strong> {{current_details.contact_num}} </strong></mat-list-item>
              <mat-list-item role="listitem">Service Type: <strong>{{current_details.service_type}} </strong></mat-list-item>
              <mat-list-item role="listitem">Company Name: <strong>{{current_details.company_name}} </strong></mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Update Your Details</mat-card-title>
      <mat-card-content>
        <form [formGroup]="newOwnerForm" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Owner Name" formControlName="owner_name">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Owner NIC" [pattern]="'[0-9]{9}[|v|V]$'" formControlName="owner_nic">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Address" formControlName="address">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Area" formControlName="area">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Contact Details" formControlName="contact_num">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Service Type" formControlName="service_type">
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Company Name" formControlName="company_name">
            </mat-form-field>
          </p>
  
          <div class="button">
            <button type="submit" color="primary" mat-raised-button>Update Details</button>
          </div>
  
        </form>
      </mat-card-content>
      <mat-card-footer>
          <div>
              <h6>Before Register please upload the NIC and Company Registration Document Images</h6>
              <h6>Scroll Down to Upload Images</h6>
          </div>
        </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

<mat-grid-tile>
    <mat-card>
        <mat-card-title>NIC and Company Registration Document Images</mat-card-title>
        <mat-card-content>
            <mat-list role="list" class="images">
              <mat-list-item role="listitem">
                  <h5>Owner NIC</h5>
              </mat-list-item>
              <mat-list-item role="listitem">
                
                    <form [formGroup]="formNIC" (ngSubmit)="onSubmit()">
                      <input type="file" name="avatar[]" (change)="onFileChange($event)" multiple/>
                      <button type="submit">Upload</button>
                    </form>
              
                

              </mat-list-item>
              <mat-list-item role="listitem">
                  <h5>Company Logo</h5>
              </mat-list-item>
              <mat-list-item role="listitem">
                
                <form [formGroup]="formCmpy" (ngSubmit)="onSubmitCmp()">
  
                    <input type="file" name="avatar[]" (change)="onFileChangeCmp($event)" multiple/>
                    <button type="submit">Upload</button>
              
                  </form>

              </mat-list-item>

              <mat-list-item role="listitem">
                  <h5>Company Regisration Document</h5>
              </mat-list-item>
              <mat-list-item role="listitem">
                
                <form [formGroup]="formReg" (ngSubmit)="onSubmitReg()">
  
                    <input type="file" name="avatar[]" (change)="onFileChangeReg($event)" multiple/>
                    <button type="submit">Upload</button>
              
                  </form>

              </mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
</mat-grid-tile>

</mat-grid-list>
  