
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            card.titl
            <button mat-icon-button class="more-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="E:\Dev\Python\flask-jwt\env\API\static/img/download.jpg1">
        </mat-card-content>
      </mat-card>
      
    </mat-grid-tile>
  </mat-grid-list>


  <h1>Upload your Avatar!</h1>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <input type="file" name="avatar[]" (change)="onFileChange($event)" multiple/>
      <button type="submit">Upload</button>

    </form>
  </div>
</div>
