<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isLoggedIn$ | async">
      <a mat-list-item routerLink="">
        <mat-icon aria-hidden="false">home</mat-icon>
        <span></span>
        Dashboard
      </a>
      <a mat-list-item routerLink="/ownerReg">
        <mat-icon aria-hidden="false">person_add</mat-icon>
        <span width="10px"></span>
        Update Owner Details</a>
      <a mat-list-item routerLink="/driverReg">
        <mat-icon aria-hidden="false">person_add</mat-icon>
        <span></span>
        Add New Driver</a>
      <a mat-list-item routerLink="/vehicleReg">
        <mat-icon aria-hidden="false">directions_car</mat-icon>
        <span></span>
        Add New Vehicle</a>
      <a mat-list-item routerLink="/trips">
        <mat-icon aria-hidden="false">navigation</mat-icon>
        <span></span>
        Available Trips</a>
    </mat-nav-list>    
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button  routerLink="" style="font-size: 1em;">Dashboard</a>
        <a mat-button  routerLink="/ownerReg">Update Owner Details</a>
        <a mat-button  routerLink="/driverReg">Add New Driver</a>
        <a mat-button  routerLink="/vehicleReg">Add New Vehicle</a>
        <a mat-button  routerLink="/trips">Available Trips</a>  
      </div>
      <span class="example-spacer"></span>
      
      <button mat-button (click)="logout()">
        <mat-icon class="example-icon">logout</mat-icon>
        Logout
      </button>
    </mat-toolbar>
    
    <app-loader></app-loader>
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>

</mat-sidenav-container> 