<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"  [fixedInViewport]="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <mat-icon aria-hidden="false">home</mat-icon>
        <span></span>
        Dashboard
      </a>
      <a mat-list-item routerLink="/ownerReg">
        <mat-icon aria-hidden="false">person_add</mat-icon>
        <span width="10px"></span>
        Update Owner Details</a>
      <a mat-list-item routerLink="/driverReg">
        <mat-icon aria-hidden="false">person_add</mat-icon>
        <span></span>
        Add New Driver</a>
      <a mat-list-item routerLink="/vehicleReg">
        <mat-icon aria-hidden="false">directions_car</mat-icon>
        <span></span>
        Add New Vehicle</a>
      <a mat-list-item routerLink="/trips">
        <mat-icon aria-hidden="false">navigation</mat-icon>
        <span></span>
        Available Trips</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isLogged">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button  routerLink="" style="font-size: 1em;">Dashboard</a>
        <a mat-button  routerLink="/ownerReg">Update Owner Details</a>
        <a mat-button  routerLink="/driverReg">Add New Driver</a>
        <a mat-button  routerLink="/vehicleReg">Add New Vehicle</a>
        <a mat-button  routerLink="/trips">Available Trips</a>  
      </div>
      <span class="example-spacer"></span>
      
      <button mat-button (click)="logout()">
          <mat-icon class="example-icon">logout</mat-icon>
        Logout</button>
           
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
    
  </mat-sidenav-content>

</mat-sidenav-container> 